.page-header
  h1
    = "Columbus CRB Register "
    small JetBrains License Giveaway

#blurb
  p One entry per attendee. The CRB host will use this email address as the licensee address.
  p Licenses arrive via email &mdash; usually within three weeks.

#admin-link Super Secret Admin Area
#admin-area(style="display:none;")
  input#unlock-code.span2(type="password")

  #actions(style="display:none;")
    input#random-entry.btn.success(type="submit", value="Pick Winner")
    input#clear-winner.btn(type="submit", value="Clear Winner")
    input#save-entries.btn.danger(type="submit", value="Consume Entries")

#new-entry-form
  input#name.span3(type="text", value="", placeholder="Name")
  input#email.span3(type="email", value="", placeholder="Email")
  input#twitter.span2(type="text", value="", placeholder="Twitter")

  select#license.span3
    option Preferred License
    option RubyMine
    option PyCharm
    option IntelliJ IDEA
    option ReSharper

  .checkbox
    input#new_to_ruby(type="checkbox")
    label(for="new_to_ruby") New to Ruby?

  .checkbox
    input#new_to_crb(type="checkbox")
    label(for="new_to_crb") New to CRB?

  input#save.btn.primary(type="submit", value="Save")


table#contest.condensed-table.zebra-striped
  thead
    tr
      th &nbsp;
      th Name
      th Email
      th Twitter
      th License
      th New to Ruby?
      th New to CRB?

  tbody

h5#count

script#entry-template(type='text/x-handlebars-template')
  tr(class="{{cssClass}}")
    td.gravatar
      img(src="http://www.gravatar.com/avatar/{{hash}}?s=64")
    td.name {{name}}
    td.email {{email}}
    td.twitter
      a(href="http://twitter.com/{{twitter}}", target="_blank") {{handle}}
    td.license {{license}}
    td.new-to-ruby {{newToRuby}}
    td.new-to-crb {{newToCrb}}


script(type='text/javascript')
  $(function(){
    window.length  = #{length};
    window.entries = !{entries};
  });

script(type='text/javascript', src="/client.js")
