.page-header
  h1 Columbus Ruby Brigade Register

#rules-area.alert.alert-warning
  a.close x
  h3.alert-heading Contest Rules
  ul
    li One entry per attendee.
    li Must be present to win!
    li Must have at least 30 attendees for a giveaway.
    li Licenses arrive via email &mdash; usually within three weeks.
    li The CRB will use this email address as the licensee address.

#progress-area
  h3
    = "Contest Attendence Goal "
    small (30 attendees)
  .progress.progress-info.progress-striped.active
    .bar(style="width: 0%;")



      #admin-link Super Secret Admin Area
#admin-area(style="display:none;")
  input#unlock-code.span2(type="password")

    #actions(style="display:none;")
      a#random-entry.btn.btn-success(href="#")
        i.icon-star.icon-white
          = " Pick Winner"

    a#clear-winner.btn.btn-warning(href="#")
      i.icon-repeat.icon-white
        = " Clear Winner"

    a#save-entries.btn.btn-danger(href="#")
      i.icon-remove.icon-white
        = " Consume Entries"


form#new-entry-form.form-horizontal
  input#name.span2(type="text", value="", placeholder="Name")
    input#email.span2(type="email", value="", placeholder="Email")
      input#twitter.span2(type="text", value="", placeholder="Twitter")

        select#license.span2
          option No License
    option RubyMine
    option PyCharm
    option IntelliJ IDEA
    option ReSharper

  input#new_to_ruby(type="checkbox")
    label.checkbox.inline(for="new_to_ruby") New to Ruby?

  input#new_to_crb(type="checkbox")
    label.checkbox.inline(for="new_to_crb") New to CRB?

  a#save.btn.btn-success(href="#")
    i.icon-plus.icon-white
      = " Register"


table#contest.table.table-condensed.table-striped
  thead
    tr
      th &nbsp;
      th Name
      th Email
      th Twitter
      th License
      th New to Ruby?
      th New to CRB?

  tbody

    h6#count


      script#entry-template(type='text/x-handlebars-template')
        tr(class="{{cssClass}}")
    td.gravatar
      img(src="http://www.gravatar.com/avatar/{{hash}}?s=64")
    td.name {{name}}
    td.email {{email}}
    td.twitter
      {{#if twitter}}
      a(href="http://twitter.com/{{twitter}}", target="_blank") @{{twitter}}
      {{/if}}
    td.license {{license}}
    td.new-to-ruby
      {{#if newToRuby}}
      span.label.label-success {{newToRuby}}
      {{/if}}
    td.new-to-crb
      {{#if newToCrb}}
      span.label.label-success {{newToCrb}}
      {{/if}}


script(type='text/javascript')
  $(function(){
    window.length  = #{length};
    window.entries = !{entries};
  });

script(type='text/javascript', src="/client.js")
