!!!
html
  head
    title CRB Contest
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet/less', type="text/css", href='/stylesheets/crb.less')
    script(src="/javascripts/jquery.js", type="text/javascript")
    script(src="/javascripts/jquery_ui.min.js", type="text/javascript")
    script(src="/javascripts/handlebars.js", type="text/javascript")
    script(src="/javascripts/md5.js", type="text/javascript")
    script(src="/socket.io/socket.io.js", type='text/javascript')
    script(src="/javascripts/less.js", type="text/javascript")

  body.container!= body
