.container
  width: 960px
  margin: auto
  position: relative

table#contest
  th
    border-bottom: 1px solid #DDDDDD !important

  td
    line-height: 26px
    vertical-align: middle

    &.gravatar
      img
        width: 24px
        height: 24px

#count
  text-align: center
  font-weight: bold

input.error, select.error
  border-color: crimson
  color: crimson

tr.winner
  td
    font-weight: bold
    background: #fce9bf !important

#admin-area
  position: absolute
  top: 0
  right: 0
  padding: 1em
  background: whitesmoke
  border: 1px solid #DDD
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;

  #unlock-code
    text-align: center
    font-weight: bold

  #actions
    input
      margin-right: 1em

      &:last-child
        margin-right: 0

#admin-link
  position: absolute
  top: 10px
  right: 10px
  cursor: default
  color: #FFF

#blurb
  margin-bottom: 2em

  p
    margin: 0
    font-style: italic

#new-entry-form
  background: whitesmoke
  border: 1px solid #DDD
  margin-bottom: 2em
  padding: 1em

  input, select
    margin-right: 1em

    &:last-child
      margin-right: 0

  .checkbox
    display: inline
    margin-right: 1em

    input
      margin-right: 0.5em

    label
      display: inline
      font-weight: bold
      float: none
      width: 40px
      text-align: left

