.container{width:960px;position:relative}
#rules-area{margin-bottom:2em;color:#222;}
#rules-area li{font-style:italic}
#rules-area h3{color:#222}
table#contest th{border-bottom:1px solid #ddd !important}
table#contest td{line-height:26px;vertical-align:middle;}
table#contest td.gravatar img{width:24px;height:24px}
table#contest td.twitter{text-transform:lowercase}
#count{text-align:center;font-weight:bold}
input.error,select.error{border-color:#dc143c;color:#dc143c}
tr.winner td{font-weight:bold;background-color:#f9f0c4 !important}
#admin-area{-moz-box-shadow:0 0 5px #888;-webkit-box-shadow:0 0 5px #888;box-shadow:0 0 5px #888;position:absolute;top:0;right:0;padding:1em;background:#f5f5f5;border:1px solid #ddd;}
#admin-area input{margin:0}
#admin-area #unlock-code{text-align:center;font-weight:bold}
#admin-area #actions a{margin-right:1em;}
#admin-area #actions a:last-child{margin-right:0}
#admin-link{position:absolute;top:10px;right:10px;cursor:default;color:#fff}
#new-entry-form{-moz-box-shadow:0 0 5px #ddd;-webkit-box-shadow:0 0 5px #ddd;box-shadow:0 0 5px #ddd;background:#f5f5f5;border:1px solid #ddd;margin:3em 0;padding:1em;}
#new-entry-form .checkbox{padding-left:.5em;margin-right:.5em;font-weight:bold}
#new-entry-form a#save{margin-left:.5em}
#new-entry-form input[type=text],#new-entry-form input[type=email],#new-entry-form select{margin-right:1em;}
#new-entry-form input[type=text]:last-child,#new-entry-form input[type=email]:last-child,#new-entry-form select:last-child{margin-right:0}
#progress-area{margin-bottom:3em}
