/* Mixins */
box-shadow (color)
  -moz-box-shadow: 0 0 5px color
  -webkit-box-shadow: 0 0 5px color
  box-shadow: 0 0 5px color


.container
  width: 960px
  margin: auto
  position: relative

table#contest
  th
    border-bottom: 1px solid #ddd !important

  td
    line-height: 26px
    vertical-align: middle

    &.gravatar img
      width: 24px
      height: 24px

    &.twitter
      text-transform: lowercase


#count
  text-align: center
  font-weight: bold

input.error,select.error
  border-color: #dc143c
  color: #dc143c

tr.winner td
  font-weight: bold
  background-color: #F9F0C4 !important

#admin-area
  box-shadow(#888)
  position: absolute
  top: 0
  right: 0
  padding: 1em
  background: #f5f5f5
  border: 1px solid #ddd

  input
    margin: 0

  #unlock-code
    text-align: center
    font-weight: bold

  #actions
    a
      margin-right: 1em

      &:last-child
        margin-right: 0

#admin-link
  position: absolute
  top: 10px
  right: 10px
  cursor: default
  color: #fff

#blurb
  margin-bottom: 2em

  p
    margin: 0
    font-style: italic

#new-entry-form
  box-shadow(#DDD)
  background: #f5f5f5
  border: 1px solid #ddd
  margin: 3em 0
  padding: 1em

  .checkbox
    padding-left: 0.5em
    margin-right: 0.5em
    font-weight: bold

  a#save
    margin-left: 0.5em

  input[type=text], input[type=email], select
    margin-right: 1em

    &:last-child
      margin-right: 0

#progress-area
  margin-bottom: 3em
